@charset "UTF-8"; /*é uma regra, bom para pontuação*/

*{
    margin: 0%; padding: 0%;
}

body, html{
    background-color: rgb(95, 95, 95);
    overflow-x: hidden;
}

header{
    background-color: white;
    text-align: center;
    padding: 40px; margin: 0px 30px 10px;
}
nav{
    background-color: black;
    padding: 10px; margin: 0px 30px;
}
a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition-duration: 0.6s;
}
a:hover{
    background-color: white;
    color: black;
}

main{
    background-color: rgb(95, 95, 95);
    margin-top: 10px;
    display: flex;

    box-sizing: content-box;
    width: 100%;    /*alinhar a borda de fora*/
}
section{
    background-color: rgb(95, 95, 95);
}
article{
    background-color: white;
    padding: 15px;
    margin-left: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 900px;
}
article p{
    padding: 10px 0px 20px;
    text-align: left;
}
article img{
    width: 850px;
    margin-left: 20px;
    border-radius: 10px;
}
article button{
    margin: 10px; padding: 5px;
    background-color: rgb(230, 94, 94);
    color: aliceblue;
    border-radius: 10px;
}

aside{
    background-color: white;
    margin-left: 20px; margin-right: 30px;
    padding: 10px;
    height: 320px;
    border-radius: 10px;
}
aside img{
    width: 310px;
    border-radius: 10px;
}
aside h1, p{
    padding: 10px;
    text-align: center
}

#contato article{
    width: 1260px;
}
#contato h1{
    padding-bottom: 15px;
}
#contato h2{
    font-size: 1.2em;
    font-weight: 100;
    padding: 5px 0px;
}
#contato img{
    margin-top: 20px;
    width: 90%;
}


footer{
    background-color: white;
    text-align: center;
    padding: 40px; margin: 0px 30px 10px;
    border-radius: 10px;
}

@media all and (min-width: 320px ) and (max-width: 529px) { /*para celular*/

    main{
        display: block;
        margin: 0%;
    }
    #contato article{
        width: 326px;
    }
    #contato img{
        width: 300px;
        margin-left: 0%;
        border-radius: 10px;
    }

    article{
        margin: 0%;
        margin-bottom: 20px;
        width: 326px;
        margin-right: -10px;
    }
    article h2{
        font-size: 1.2em;
    }
    article p{
        font-size: 1em;
    }
    article img{
        width: 300px;
        margin-left: 0%;
        border-radius: 10px;
    }

    aside{
        margin: 0%;
        padding: 10px 15px;
        width: 326px;
    }
    aside img{
        width: 300px;
    }

    footer{
        background-color: white;
        text-align: center;
        padding: 10px; margin: 10px 10px 10px;
        border-radius: 10px;
    }
}