<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    
    <main>
        <div class="container" id="app">
            <header>
                <h1>{{name}}</h1>
                <div class="avatar"><img src="imgs/avatar.jpg" alt=""></div>
            </header>
        </div>
    
        <div class="painel">
            <input type="text" v-model="task" placeholder="Digite uma tarefa">
            <button v-on:click="addTask" class="add-task">+</button>
        </div>
    
        <h5>SUAS TAREFAS:</h5>
        <!--Por exemplo, a diretiva v-for pode ser usada para exibir uma lista de itens usando dados de um Array:-->
        <div v-for="(item, index) in itens"><!--um nome -in- e o nome igual colocado la baixo-->
            <div class="task"> <!--estrutura de repetição-->
                <!--Para permitir aos usuários interagir com o aplicativo, podemos usar a diretiva v-on para anexar escutas a eventos (event listeners) que invocam métodos em nossas instâncias Vue:-->
                <div v-on:click="toggleStatus(index)" class="status" v-bind:class="item.status"></div>
                <div class="text">{{ item.text }}</div>
                <!--colocando em chaves para aparecer os outros titulos-->
                <img v-on:click="toggleModal(index)" src="imgs/lixo.png" alt="Excluir" class="delete">
            </div>
        </div>
    
        <div class="model-layer" v-if="showModal" style="display: none;">
            <div class="modal">
                <h4>CONFIRA A EXCLUSÂO</h4>
                <p>NOME DA TASK</p>
                <div class="button">
                    <button>CANCELAR</button>
                    <button>CONFIRMAR</button>
                </div>
            </div>
        </div>
    </main>

<script>
    var app = new Vue({
        el: '#app', //elemento (id)
        data:  { //para substituir os dados
            name: 'LaryssaTGS',
            itens: [ //fazer uma lista, array
                { text: 'Aprender ReactJS', status: 'done'},
                { text: 'Aprender Vue.JS', status: 'pending'},
                { text: 'Aprender Angular', status: 'pending'}
            ]
        }
    });
</script>


</body>
</html>