@charset "UTF8";

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: #3F3759;
}

main{
    background-color: #211F2F;
    color: white;
    width: 300px; height: 500px;
    margin: auto;
    text-align: center;
    padding: 20px; margin-top: 30px;
    border-radius: 20px;
}

header{
    display: flex;
}
.avatar img{
    height: 80px;
    width: 50px;
    border-radius: 5px;
    position: fixed;
    margin-left: 5%;
}

.painel{
    margin-top: 80px;
    margin-bottom: 50px;
    display: flex;
}
.painel input{
    padding: 5px;
    border-radius: 10px;
    width: 400px;
}
.add--task{ /*o botao +*/
    padding: 15px;
    width: 50px;
    border-radius: 10px;
    background-color: #912FE6;
    color: white;
    cursor: pointer;
}

h5{
    text-align: left;
    margin-bottom: 20px;
}

.task{
    display: flex;
    border-radius: 10px;
    background-color: #282E3C;
    padding: 10%;
}
.task img{
    margin-left: 20px;
    cursor: pointer;
    position: fixed;
    margin-left: 16%;
}