@charset "UTF-8"; /*é uma regra, bom para pontuação*/

*{
    margin: 0%; padding: 0%;
}

body, html{
    overflow-x: hidden;
}

.cabecalho{
    padding: 20px;
    text-align: center;
    background-color: #007BFF;
    width: 100%;
    overflow: hidden;
}

.menu{
    background-color: rgba(128, 128, 128, 0.158);
    padding: 10px;
    text-align: left;
    width: 100%;
    overflow: hidden;
}
.menu ul{
    margin-right: 10%;
    margin-left: 10%;
}
.menu ul, li{
    padding: 0;
    margin: 0;
}
.menu li, a{
    color: white;
    text-decoration: none;
    display: inline-block;
}
.menu a{
    padding: 15px 30px;
}
.menu a:hover{
    background-color: grey;
    color: black;
}

.row{
    text-align: center;
    background-color: aliceblue;
    padding: 10px;
    margin-bottom: 10px;
    z-index: 999;
}
.container{
    margin: 10px;
}
.card{
    padding: 10px;
    margin-bottom: 5%;
}

#lista{
    padding: 10px;
}

.rodape{
    padding: 10px;
    margin-top: 20px;
    position: fixed;
    bottom: 0%;

    background-color: #007BFF;
    text-align: center;
    width: 100%;
}

@media all and (min-width: 320px ) and (max-width: 529px) { /*para celular*/

    .cabecalho h1{
        font-size: 2em;
    }
    .cabecalho h4{
        font-size: 1.2em;
    }

    .menu{
        padding: 1px;
    }
    .menu li a{
        font-size: 0.9em;
    }
    .menu a{
        padding: 15px 10px;
    }
    .menu ul{
        margin-right: 0%;
        margin-left: 0%;
    }

    .row{
        margin-top: 10%;
    }
    .row h1{
        font-size: 2em;
    }

    .rodape{
        padding: 0%;
        position: fixed;
        bottom: 0%;
    }
    .rodape h3{
        font-size: 1em;
        
        padding-top: 5px;
    }
}